.dashboard {
    border: 1px solid rgba(0, 0, 0, 0.29);
    height: 55vh;
    background-image: url("../assets/images/header-opt.webp");
    background-repeat: no-repeat;
    background-size: 100%;
}
